body {
  display: flex;
  justify-content: center;
  height: 600px; }

#container {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  height: 100%;
  border: solid silver 4px;
  border-radius: 3px;
  border: solid silver 4px; }

#groups-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%; }

.groups {
  display: flex;
  background-image: url("http://wallpapercave.com/wp/fQfPbak.jpg");
  background-size: cover;
  justify-content: center;
  align-items: center;
  border-left: solid silver 4px;
  border-right: solid silver 4px;
  height: 33.33%;
  width: 100%;
  border: solid silver 1px; }

#friends-box {
  display: flex;
  background-image: url("http://smashingcage.com/wp-content/uploads/2013/03/Brushed-Metal-Wall-500x300.jpg");
  background-size: cover;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 60%; }

#srchItems {
  flex-direction: row;
  height: 10%; }

#Search-box {
  width: 60%;
  margin-top: 10%;
  margin-bottom: 3%;
  border-radius: 10px; }

#srchBtn {
  width: 30%;
  margin-top: 10%;
  margin-bottom: 3%; }

#content-zone {
  display: flex;
  background-color: white;
  border: solid silver 4px;
  border-radius: 10px;
  height: 80%;
  width: 90%;
  overflow: scroll; }

.group-boxes {
  background-color: white;
  width: 90%;
  height: 100px;
  border: solid black 2px;
  border-radius: 10px; }

.friendsinfo {
  margin: 0;
  padding: 0; }

.peep {
  list-style-type: none;
  border: solid black 3px;
  width: 300px; }

.turnRed {
  background-color: orangered; }

.hidden {
  display: none; }
